
 .container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
   
    background-color: #e0e3e8;
 }

 .accordian_box{
     border: 1px solid rgba(83, 111, 146, 0.3);
     position: relative;
     top: 0px;
     width: 800px;
     border-radius: 12px;
     background-color: #fff;
     box-shadow: 5px 10px 10px rgba(83, 111, 146, 0.3);
     padding-bottom: 10px;
 }

 .heading{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    font-weight: 790;
    font-size:x-large;
    color : #5a8dee !important;
 }

 .accordion_items{
    width: 770px;
    padding-left: 15px;
    border-radius: 10px;
 }

 .item{
    background-color: whitesmoke;
    margin-bottom: 5px;  
    border-radius: 10px;
    border-radius: 15px;
 }

.title{
    color: #9d73a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: larger;
    font-weight:700;
    background-color: whitesmoke;
    padding-left: 15px;
    border-radius: 15px ;
    border: 1px solid rgb(247, 240, 230);
}

.question{
    border: 1px solid rgb(247, 240, 230);
    background-color: #5a8dee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding-left: 15px;
    cursor: pointer;
    font-size: larger;
    font-weight:700;
    width: 755px;
    color: whitesmoke;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.show.answer{
    padding-top: 10px;
    height: auto;
    max-height: 9999px;
    transition: all 0 9999px;
    padding-left: 15px;
    border: 1px solid rgb(247, 240, 230);
    border-radius: 15px ;
}

@media only screen and (max-width:790px){
    .accordian_box{
        width:350px;
    }
    .accordion_items{
        width:320px;  
    }
    .question{
        width:306px;
        font-size: large;
        font-weight:600;
    }
    .title{
        font-size: large;
        font-weight:600;
    }
}